html(lang="en")
  head
    title Books
  body
    #content
      include includes/header.pug
      #main
        h1 Books
        a(href='/new_book')
          button Create New Book
        ul.filters
          li Filters
          li
            a(href="/books") All
            span &nbsp;|
          li
            a(href="/books?filter=overdue") Overdue
            span &nbsp;|
          li
            a(href="/books?filter=checkedout") Checked Out
        table
          thead
            tr
              th Title
              th Author
              th Genre
              th Year Released
          tbody
            each book in books
              tr
                td
                  a(href='book_detail?id=' + book.id)= book.title
                td= book.author
                td= book.genre
                td= book.first_published