html(lang="en")
  head
    title Library Manager
  body
    #content
      include includes/header.pug
      #main
        h1 Library Manager
        p Welcome to Library Manager

        h2 Books
        ul
          li New Book
          li List All
          li List Overdue
          li List Checked Out

        h2 Patrons
        ul
          li New Patron
          li List All

        h2 Loans
        p= myString
        ul
          li New Loan
          li List All
          li List Overdue
          li List Checked Out
