html(lang="en")
  head
    title Library Manager
    link(rel="stylesheet" href="stylesheets/style.css")
  body
    #content
      include includes/header.pug
      #main
        h1 Library Manager
        p Welcome to Library Manager

        ul
          li Books
          li
            a(href="/new_book") New Book
          li
            a(href="/books") List All
          li
            a(href="/books?filter=overdue") List Overdue
          li
            a(href="/books?filter=checkedout") List Checked Out
        ul
          li Patrons
          li
            a(href="/new_patron") New Patron
          li
            a(href="/patrons") List All
        ul
          li Loans
          li
            a(href="/new_loan")  New Loan
          li
            a(href="/loans") List All
          li
            a(href="/loans?filter=overdue") List Overdue
          li
            a(href="/loans?fitler=checkedout") List Checked Out
