html(lang="en")
  head
    title New Book
    link(rel="stylesheet" href="stylesheets/style.css")
    link(rel="stylesheet" href="stylesheets/custom.css")
  body
    #content
      include includes/header.pug
      #main
        h1 New Book
        form(action="/new_book" method="POST" enctype="application/x-www-form-urlencoded")
          p
            label(for="title") Title
            input(id="title" name="title" type="text" onkeyup="validateField('title')" )
          p
            label(for="author") Author
            input(id="author" name="author" type="text" onkeyup="validateField('author')")
          p
            label(for="genre") Genre
            input(id="genre" name="genre" type="text" onkeyup="validateField('genre')")
          p
            label(for="first_published") First Published
            input(id="first_published" name="first_published" type="text")
          p
            input(type="submit" onclick="return validateNewBookForm()" value="Create New Book")
    script(src="js/main.js" type="text/javascript" charset="UTF-8")