html(lang="en")
  head
    title New Loan
    link(rel="stylesheet" href="stylesheets/style.css")
    link(rel="stylesheet" href="stylesheets/custom.css")
    - function formatDate(date, daysToAdvance) {if (daysToAdvance) {date.setDate(date.getDate() + daysToAdvance);} var year = date.getFullYear(); var month = date.getMonth() + 1; month = month < 10 ? "0" + month : month; var day = date.getDate(); day = day < 10 ? "0" + day : day; var formattedDate = year + '-' + month + '-' + day; return formattedDate;}
  body
    #content
      include includes/header.pug
      #main
        h1 New Loan
        form(action="/new_loan" method="POST" enctype="application/x-www-form-urlencoded")
          p
            label(for="book_id") Book
            select(id="book_id" name="book_id")
              for book in books
                option(value=book.id)= book.title
          p
            label(for="patron_id") Patron
            select(id="patron_id" name="patron_id")
              for patron in patrons
                option(value=patron.id)= patron.first_name + " " + patron.last_name
          p
            label(for="loaned_on") Loaned On
            input(id="loaned_on" name="loaned_on" onkeyup="validateDateField('loaned_on', true)" value=formatDate(new Date()))
            span(id="loaned_on_error" class="error") Required: YYYY-MM-DD
          p
            label(for="return_by") Return By
            input(id="return_by" name="return_by" onkeyup="validateDateField('return_by', false)" value=formatDate(new Date(), 7))
            span(id="return_by_error" class="error") Optional: YYYY-MM-DD
          p
            input(type="submit" onclick="return validateNewLoanForm()" value="Create New Loan")
    script(src="js/main.js" type="text/javascript" charset="UTF-8")